:root {
    --color-neutral-700: #344054;
    --color-neutral-400: #98A2B3;
    --color-neutral-300: #D0D5DD;
    --color-primary-400: #B692F6;
    --color-primary-100: #F4EBFF;
    --color-primary-50: #F9F5FF;
    --button-bg-color-error-active: var(--color-error-700);
    --button-bg-color-error-hovered: var(--color-error-600);
    --color-error-600: #D92D20;
    --color-error-700: #B42318;
    --color-error-50: #FEF3F2;
    --button-bg-color-primary-active: var(--color-primary-700);
    --button-border-radius: var(--base-border-radius);
    --color-neutral-800: #1D2939;
    --color-error-500: #F04438;
    --button-bg-color-primary-hovered: var(--color-primary-600);
    ----text-color: var(--color-neutral-800);
    --input-height: 48px;
    --base-border-radius: 8px;
    --result-text-color: var(--color-primary-600);
    --color-primary-500: #9E77ED;
    --color-neutral-100: #F2F4F7;
    --color-primary-700: #6941C6;
    --color-white: #FFFFFF;
    --color-neutral-600: #475467;
    --color-neutral-200: #EAECF0;
    --color-error-100: #FEE4E2;
    --color-neutral-25: #FCFCFD;
    --color-neutral-50: #F9FAFB;
    --input-border-radius: var(--base-border-radius);
    --color-primary-600: #7F56D9;
    --button-bg-color-error: var(--color-error-500);
    --button-bg-color-primary: var(--color-primary-500);
    --color-neutral-500: #667085;

}

* {
    box-sizing: border-box;


}

html {
    font-family: 'Poppins';
    min-height: 100%;

}

body {
    margin: 0;
    min-height: 100%;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
}



button {
    cursor: pointer;
}

.main {
    padding-top: 64px;
    min-height: 100%;
}


.card {
    display: flex;
    width: 460px;
    max-width: 460px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.card__thumbnail {
    width: 460px;
    height: 250px;
}

.card__title {
    text-align: center;
    align-self: stretch;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: var(----text-color, #1D2939);
    font-family: 'Poppins';
    margin-bottom: auto;
}

.card__wrapper {
    display: flex;
    width: 459px;
    padding: 12px 0;
    flex-direction: column;
    gap: 24px;
    width: 459px;
}

.card__list {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    padding: 12px 24px;
}

.card__icon {
    opacity: 0;
    visibility: hidden;
}

.card__edit {
    opacity: 0;
    visibility: hidden;
}

.card-item {

    height: 52px;
    line-height: 20px;
    display: flex;
    padding: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
}

.card-item:hover .card__icon {
    opacity: 1;
    visibility: visible;
}

.card-item:hover .card__edit {
    opacity: 1;
    visibility: visible;
}

.card-item__content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.card__button {
    border-radius: var(----button-border-radius, 8px);
    background: var(----button-bg-color-primary, #9E77ED);
    height: var(----input-height, 48px);
    padding: 0 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    transition: all 0.9s ease;

}

.card__button:hover {
    background-color: var(--color-primary-600);
    vertical-align: middle;
}

.card__button:active {
    background: var(--color-primary-600);
    transition: background 0s;
}

.card__input {
    color: var(--color-neutral-500);
    padding: 18px 24px;
    box-sizing: border-box;
    height: 48px;
    border-radius: var(----input-border-radius, 8px);
    border: 1px solid #E5E7EB;
    background: #F3F4F6;
    margin-right: 10px;
    flex: 1;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    outline: 0;
}

.card__form {
    margin-left: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;

}

.card__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    border: none !important;
    font-size: 0;
    width: 32px;
    height: 32px;
    border-radius: var(--button-border-radius);
    transition: all 0.3s ease;
}

.card__icon:hover {
    background-color: var(--color-error-50);
}

.card__icon:active {

    background-color: var(--color-error-100);
}

.card__trash {
    width: 24px;
    height: 24px;
}

.card__edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    border: none !important;
    font-size: 0;
    border-radius: var(--button-border-radius);
    transition: all 0.3s ease;
    width: 32px;
    height: 32px;
    margin-left: 12px;

}

.card__edit:hover {
    background-color: var(--color-error-50);
}

.card__edit:active {

    background-color: var(--color-error-100);
}

.card__pencil {
    width: 20px;
    height: 20px;


}

.custom-checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.custom-checkbox {
    width: 24px;
    height: 24px;
    background-image: url(/img/checkboxUnchecked.svg);
    cursor: pointer;
}

.custom-checkbox:has(.custom-checkbox__input:checked) {
    background-image: url(/img/checkboxChecked.svg);
}